.title{
    font-family: 'Anton', sans-serif;
}
h2{
    font-family: 'Dancing Script', cursive;
}
.tipo1{
    font-family: 'Anton', sans-serif;
    color: blueviolet;
}
.tipo2{
    font-family: 'Architects Daughter', cursive;
    color: brown;
}
.tipo3{
    font-family: 'Dancing Script', cursive;
    color: darkblue;
}
.tipo4{
    font-family: 'Lobster', cursive;
    color: deeppink;
}
.tipo5{
    font-family: 'Oswald', sans-serif;
    color: darkorange;
}